html{
    background-color: #ffffff;
}



h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 45px;
}

/* Main */


.container {
    display: flex;
    justify-content: space-evenly;    
  
}



/*Formulario*/
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}
img{
    width: 400px;
    border-radius: 15px;
    border-color: #181111;
}
form {
    display: flex;
    flex-direction: column;
}


input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}


/*Footer*/
.footer {
    margin-top: 2rem;
    background-color: #181111;
    color: #fff;
    padding: 20px;
    text-align: center;
}